.apresentacao{
    padding-top: 1em;
    padding-bottom: 1.5em;
}

.imagem-fundo{
    background-image: url('../img/WhatsApp\ Image\ 2022-08-29\ at\ 13.17.25.jpeg');
    background-size: cover;
    border-radius: 50%;
    width: 8em;
    height: 8em;
}
#section_img{
    padding-bottom: 0.9em;
}
#sobre_sobre{
    padding-top: 0.2em;
    padding-bottom: 1.4em;
    
}
#sobre_sobre h1{
    font-weight: 600;
    font-size: 1.3em;
    line-height: 26px;
    margin-bottom: 0.3em;
    color: #5222D0;

}
#sobre_sobre #dev{
    margin-bottom: 6px;
    font-weight: 400;
    
}
#sobre_sobre #txt{
    text-align: justify;
    font-weight: 400;
}
.redes{
    font-weight: bolder;
}
.redes a{
    background-color: #5222D0;
    color: #DBFFFF;
    text-align: center;
    padding: 0.7em;
    font-weight: 400;
    border-radius: 5px;
    margin-right: 7px;
}
@media screen and (min-width: 768px) {
    .imagem-fundo {
        width: 146px;
        height: 146px;
    }
    .apresentacao{
        display: flex;
        flex-direction:row-reverse;
    }
    #sobre_sobre h1{
        text-align: start;
    }
}

@media screen and (min-width: 1300px) {
    .apresentacao{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
    .imagem-fundo{
        width: 280px;
        height: 280px;
    }
    #sobre_sobre{
        font-size: 25px;
        width: 550px;
    }
    #sobre_sobre h1{
        font-weight: 600;
        font-size: 1.5em;
        line-height: 26px;
        margin-bottom: 0.3em;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        
    }
    #sobre_sobre p{
        font-weight: 400;
        font-size: 0.9em;
        line-height: 26px;
        margin-bottom: 0.3em;
    }
}
