.apresentacao{
    background: var(--cinza);
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}

.imagem-fundo{
    background-image: url('../img/WhatsApp\ Image\ 2022-08-29\ at\ 13.17.25.jpeg');
    background-size: cover;
    border-radius: 50%;
    width: 7em;
    height: 7em;
}
#section_img{
    padding-bottom: 0.9em;
}
#sobre_mim{
    padding-top: 0.2em;
    padding-bottom: 0.7em;

}
#sobre_mim h1{
    font-weight: 700;
    font-size: 1.3em;
    line-height: 26px;
    margin-bottom: 0.3em;
}
.redes{
    font-weight: bolder;
}
@media screen and (min-width: 768px) {
    .imagem-fundo {
        width: 146px;
        height: 146px;
    }
    .apresentacao{
        display: flex;
        flex-direction:row-reverse;
    }
}

@media screen and (min-width: 1024px) {
    .apresentacao{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
    .imagem-fundo{
        width: 320px;
        height: 320px;
    }
}
