:root{
    --cinza: #F5F5F5;
    --azulClaro: #EAF2FD;
    --preto: black;
    --fonte: 'Montserrat';
}
body{
    font-family: 'Montserrat', sans-serif;
     color: black;
}
.container{
    padding-left: 4%;
    padding-right: 4%;
    font-family: 'Montserrat';
    font-weight: 500;
    color: black;

}
@media screen and (min-width: 1024px) {
    .container{
        padding-left: 20%;
        padding-right: 20%;
    }
}