.footer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    align-items: center;
}
.cards{
    display: flex;
    gap: 5px;
}
.cards img{
    height: 45px;
    width: 45px;
}
.cardIn img{
    height: 46px;
    width: 55px;
}
.footer h5{
    font-family: 'Montserrat';
    color: #1F2626;
    font-size: 12px;
    font-weight: 400;
}