.sobre_mim{
    background-color: #FAFAFA;
    padding-top: 1.7em;
    padding-bottom: 4em;
}
.sobre_mim h2{
    font-weight: 700;
    font-size: 1.3em;
    padding-bottom: 1em;
}
.sobre_mim p{
    line-height: 16px;
    font-weight: 400;
    text-align: justify;
}
@media screen and (min-width: 768px){
    .sobre_mim h2{
        padding-top: 1em;
        font-weight: 800;
        font-size: 1.5em;
        line-height: 26px;
        margin-bottom: 0.3em;
    }
    .sobre_mim p{
        font-weight: 400;
        font-size: 1.3em;
        line-height: 26px;
        margin-bottom: 0.3em;
    }
}
@media screen and (min-width: 1024px) {
    
}